In [ ]:
#Tratamiento de datos
import pandas as pd 
pd.set_option('display.max_columns',None)

#Exploracion de archivos
import sys
sys.path.append("../")

#Funciones personalizadas
from src import eda as se

In [27]:
df = pd.read_csv("../Data/data_raw.csv")

In [29]:
se.eda_preeliminar(df)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
19,20,A,2022-03-09,0,BEAUTY,P1005,Perfume,0,"123,68","0,09","0,0",NaN,NaN,Central,39.0,M,Desktop,28,NaN,Ottttther,Email
1416,1417,A,2022-03-24,0,BOOKS,P1800,Mystery,0,"26,12","0,15","0,0",NaN,NaN,North,67.0,F,TABLET,12,NaN,Ottttther,Organic
638,639,A,2022-02-01,0,ELECTRONICS,P1704,Smartphone,0,"516,59","0,26","0,0",NaN,NaN,North,18.0,F,Mobile,17,NaN,Eddddge,Organic
1444,1445,B,2022-03-09,1,HOME,P1671,Table,3,"375,31","0,26","833,19",PayPal,Standard,East,40.0,F,TABLET,23,No,Firefoxxxxxx,Organic
1195,1196,B,2022-03-31,0,SPORTS,P1695,Football,0,"225,27","0,03","0,0",NaN,NaN,South,46.0,M,Mobile,10,NaN,Firefoxxxxxx,Social

--------
(2000, 21)
---------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User Id           2000 non-null   int64
 1   Group             2000 non-null   object
 2   Visit Date        2000 non-null   object
 3   Conversion        2000 non-null   int64
 4   Product Category  2000 non-null   object
 5   Product Id        2000 non-null   object
 6   Product Name      2000 non-null   object
 7   Quantity          2000 non-null   int64
 8   Price             1960 non-null   object
 9   Discount          1960 non-null   object
 10  Total Value       2000 non-null   object
 11  Payment Method    247 non-null    object
 12  Shipping Method   247 non-null    object
 13  Region            2000 non-null   object
 14  Customer Age      1960 non-null   float64
 15  Customer Gender   2000 non-null   object
 16  Device            2000 non-null   object
 17  Session Duration  2000 non-null   int64
 18  Coupon Used       247 non-null    object
 19  Browser           2000 non-null   object
 20  Referral Source   2000 non-null   object
dtypes: float64(1), int64(4), object(16)
memory usage: 328.3+ KB

None

---------
Nulos
User Id              0.00
Group                0.00
Visit Date           0.00
Conversion           0.00
Product Category     0.00
Product Id           0.00
Product Name         0.00
Quantity             0.00
Price                2.00
Discount             2.00
Total Value          0.00
Payment Method      87.65
Shipping Method     87.65
Region               0.00
Customer Age         2.00
Customer Gender      0.00
Device               0.00
Session Duration     0.00
Coupon Used         87.65
Browser              0.00
Referral Source      0.00
dtype: float64
---------
Duplicados
0
------------
Frecuencia
Las categorias de las columna Group son las siguientes:
Group
B    1013
A     987
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Visit Date son las siguientes:
Visit Date
2022-01-28    35
2022-02-16    34
2022-02-28    32
2022-01-19    31
2022-01-21    31
              ..
2022-01-18    15
2022-03-21    14
2022-03-30    14
2022-02-21    12
2022-01-31    10
Name: count, Length: 90, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Product Category son las siguientes:
Product Category
FASHHION       321
BOOKS          291
HOME           287
SPORTS         282
TOYS           276
ELECTRONICS    275
BEAUTY         268
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Product Id son las siguientes:
Product Id
P1416    8
P1782    8
P1600    7
P1252    7
P1798    7
        ..
P1641    1
P1932    1
P1528    1
P1732    1
P1744    1
Name: count, Length: 867, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Product Name son las siguientes:
Product Name
Science Fiction    85
Smartphone         84
Jeans              84
Mystery            82
Table              82
Sofa               82
Dress              81
Sneakers           81
Football           77
Action Figure      75
T-shirt            75
Mascara            74
Doll               73
Headphones         72
Lamp               72
Running Shoes      72
Tennis Racket      72
Perfume            71
Novel              69
Lipstick           69
Board Game         69
Gym Bag            61
Camera             60
Puzzle             59
Laptop             59
Biography          55
Lotion             54
Chair              51
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Price son las siguientes:
Price
19,99     3
49,0      2
60,7      2
47,73     2
24,73     2
         ..
11,53     1
593,66    1
515,16    1
689,05    1
41,27     1
Name: count, Length: 1887, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Discount son las siguientes:
Discount
0,08    76
0,21    76
0,27    75
0,03    75
0,01    74
0,13    74
0,25    74
0,19    73
0,22    71
0,17    70
0,1     70
0,29    70
0,16    67
0,24    66
0,12    66
0,02    64
0,14    64
0,11    63
0,04    62
0,07    62
0,2     62
0,23    62
0,05    58
0,09    58
0,26    58
0,28    55
0,15    54
0,06    53
0,18    53
0,0     29
0,3     26
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Total Value son las siguientes:
Total Value
0,0       1753
871,24       1
109,22       1
66,67        1
69,26        1
          ...
20,02        1
61,41        1
752,46       1
8,19         1
437,85       1
Name: count, Length: 248, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Payment Method son las siguientes:
Payment Method
Bank Transfer       73
Credit Card         67
PayPal              57
Cash on Delivery    50
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Shipping Method son las siguientes:
Shipping Method
Express     90
Same day    82
Standard    75
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Region son las siguientes:
Region
South      435
East       402
Central    398
North      396
West       369
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Customer Gender son las siguientes:
Customer Gender
F        997
M        915
Other     88
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Device son las siguientes:
Device
TABLET     696
Mobile     676
Desktop    628
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Coupon Used son las siguientes:
Coupon Used
No     132
Yes    115
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Browser son las siguientes:
Browser
Ottttther       443
Eddddge         431
Chrooome        411
Firefoxxxxxx    365
Safaaaaari      350
Name: count, dtype: int64
-----------------------------------------------------------
Las categorias de las columna Referral Source son las siguientes:
Referral Source
Organic    551
Social     493
Email      482
PAID       474
Name: count, dtype: int64
-----------------------------------------------------------